<div class="">
    <div class="row">
        <div class="col-7">
            <mat-select-country #country1 (onCountrySelected)="onCountrySelected($event, 0)"></mat-select-country>
        </div>
    </div>
    
    <div class="row" [class.d-none]="!showCountry[0]">
        <div class="col-7">
            <mat-select-country #country2 (onCountrySelected)="onCountrySelected($event, 1)"></mat-select-country>
        </div>
        <div class="col-5 col-lg-5 col-xlg-4" *ngIf="country2?.selectedCountry">
            <div class="mt-2 input-group input-group-sm">
                <div class="input-group-preppend">
                    <span class="input-group-text">+/-</span>
                </div>
                <input type="number" class="form-control" [formControl]="offset2" placeholder="Days">

                <div class="input-group-append">
                    <button class="btn btn-sm btn-link" (click)="removeCountry(1)">x</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" [class.d-none]="!showCountry[1]">
        <div class="col-7">
            <mat-select-country #country3 (onCountrySelected)="onCountrySelected($event, 2)"></mat-select-country>
        </div>
        <div class="col-5 col-lg-5 col-xlg-4" *ngIf="country3?.selectedCountry">
            <div class="mt-2 input-group input-group-sm">
                <div class="input-group-preppend">
                    <span class="input-group-text">+/-</span>
                </div>
                <input type="number" class="form-control" [formControl]="offset3" placeholder="Days">
                <div class="input-group-append">
                    <button class="btn btn-sm btn-link" (click)="removeCountry(2)">x</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" [class.d-none]="!showCountry[2]">
        <div class="col-7">
            <mat-select-country #country4 (onCountrySelected)="onCountrySelected($event, 3)"></mat-select-country>
        </div>
        <div class="col-5 col-lg-5 col-xlg-4" *ngIf="country4?.selectedCountry">
            <div class="mt-2 input-group input-group-sm">
                <div class="input-group-preppend">
                    <span class="input-group-text">+/-</span>
                </div>
                <input type="number" class="form-control" [formControl]="offset4" placeholder="Days">
                <div class="input-group-append">
                    <button class="btn btn-sm btn-link" (click)="removeCountry(3)">x</button>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row" [class.d-none]="!showCountry[3]">
        <div class="col-7">
            <mat-select-country #country5 (onCountrySelected)="onCountrySelected($event, 4)"></mat-select-country>
        </div>
        <div class="col-5 col-lg-5 col-xlg-4" *ngIf="country5?.selectedCountry">
            <div class="mt-2 input-group input-group-sm">
                <div class="input-group-preppend">
                    <span class="input-group-text">+/-</span>
                </div>
                <input type="number" class="form-control" [formControl]="offset5" placeholder="Days">
                <div class="input-group-append">
                    <button class="btn btn-sm btn-link" (click)="removeCountry(4)">x</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" [class.d-none]="!showCountry[4]">
        <div class="col-7">
            <mat-select-country #country6 (onCountrySelected)="onCountrySelected($event, 5)"></mat-select-country>
        </div>
        <div class="col-5 col-lg-5 col-xlg-4" *ngIf="country6?.selectedCountry">
            <div class="mt-2 input-group input-group-sm">
                <div class="input-group-preppend">
                    <span class="input-group-text">+/-</span>
                </div>
                <input type="number" class="form-control" [formControl]="offset6" placeholder="Days">
                <div class="input-group-append">
                    <button class="btn btn-sm btn-link" (click)="removeCountry(5)">x</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" [class.d-none]="!showCountry[5]">
        <div class="col-7">
            <mat-select-country #country7 (onCountrySelected)="onCountrySelected($event, 6)"></mat-select-country>
        </div>
        <div class="col-5 col-lg-5 col-xlg-4" *ngIf="country7?.selectedCountry">
            <div class="mt-2 input-group input-group-sm">
                <div class="input-group-preppend">
                    <span class="input-group-text">+/-</span>
                </div>
                <input type="number" class="form-control" [formControl]="offset7" placeholder="Days">
                <div class="input-group-append">
                    <button class="btn btn-sm btn-link" (click)="removeCountry(6)">x</button>
                </div>
            </div>
        </div>
    </div>

    <a href="#" (click)="showMoreCountries($event)" *ngIf="hasMoreCountries()">more countries</a>
</div>

