
<app-chart-options [chartId]="chartId"></app-chart-options>

<div class="font-italic" *ngIf="!googleChartIsReady">Loading Google Charts...</div>
<div class="font-italic" *ngIf="loadingData">Loading Data...</div>
<div class="font-italic" *ngIf="preparingData">Customizing Data...</div>

<div id="chart_div__{{chartId}}"></div>

<hr class="my-4" />