
<hr />
<div class="mb-2">
    Built by <a href="https://twitter.com/canos">@canos</a>
</div>
<div class="small">
    Data Source: <a href="https://data.europa.eu/euodp/en/data/dataset/covid-19-coronavirus-data">europa.eu</a>.
</div>
<div class="small">
    <a href="https://gitlab.com/canoset/covid-graph-player" target="_blank">Source code</a> any help is welcome.
    <br />
    More features soon. Proposals on <a href="https://twitter.com/canos">twitter</a> or <a href="https://gitlab.com/canoset/covid-graph-player/-/issues">gitlab issue</a>.
</div>

<!-- 
<hr />


<div class="small" (click)="toggleFunding()">like to be a patron?</div>
<div class="text-center w-75 mx-auto" *ngIf="showFunding">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="WRZV3GQ5F93E6" />
        <input type="image" src="https://www.paypalobjects.com/en_US/ES/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_ES/i/scr/pixel.gif" width="1" height="1" />
        </form>
        
    <div class="small mt-2">
        Due to a dramatical decrease of job, <br />during next months I will accept donations. <br />
        50% will be redirected to NGO <a href="https://madridforrefugees.org/es/">Madrid for Refugees</a>.
    </div>
</div> -->
