<div class="d-flex flex-column flex-sm-row">
    <div class="form-group">
        <h3 class="mx-3 my-0 text-uppercase">{{ chartId }}</h3>
    </div>

    <div class="form-group d-flex">
        <label class="my-1 mx-2">Metric</label>
        <select [formControl]="metric" class="form-control form-control-sm">
            <optgroup label="Daily">
                <option value="new_cases">New cases</option>
                <option value="new_deaths">New Deaths</option>
            </optgroup>
            <optgroup label="Total">
                <option value="total_cases">Total Cases</option>
                <option value="total_deaths">Total Deaths</option>
            </optgroup>
            <optgroup label="Per 1M population">
                <option value="total_cases_per_1m">Total Cases per 1M</option>
                <option value="total_deaths_per_1m">Total Deaths per 1M</option>
            </optgroup>
            <optgroup label="Lethality">
                <option value="lethality">Lethality</option>
            </optgroup>
            <optgroup label="% new cases comparing to ">
                <option value="variation_cases1D">Cases vs 1 day before</option>
                <option value="variation_cases2D">Cases vs 2 days before</option>
                <option value="variation_cases4D">Cases vs 4 days before</option>
                <option value="variation_cases7D">Cases vs 7 days before</option>
                <option value="variation_cases14D">Cases vs 14 days before</option>
            </optgroup>
            <optgroup label="% new deaths comparing to ">
                <option value="variation_deaths1D">Deaths vs 1 day before</option>
                <option value="variation_deaths2D">Deaths vs 2 days before</option>
                <option value="variation_deaths4D">Deaths vs 4 days before</option>
                <option value="variation_deaths7D">Deaths vs 7 days before</option>
                <option value="variation_deaths14D">Deaths vs 14 days before</option>
            </optgroup>
        </select>        
    </div>
    
    <div class="form-group d-flex">
        <label class="my-1 mx-2">Chart</label>
        <select [formControl]="graphic_type" class="form-control form-control-sm">
            <option value="lines">Lines</option>
            <option value="area">Area</option>
            <option value="columns">Columns</option>
            <option value="scatter">Scatter</option>
            <option value="bars">Bars</option>
        </select>
    </div>

    <div class="form-group d-flex">
        <label class="my-1 mx-2">Trend</label>
        <select [formControl]="trendline" class="form-control form-control-sm">
            <option value="">No trendline</option>
            <option value="lineal">Lineal</option>
            <option value="exp">Exponential</option>
            <option value="poly2">Polymonial 2 degree</option>
            <option value="poly3">Polymonial 3 degree</option>
            <option value="poly4">Polymonial 4 degree</option>
            <option value="poly5">Polymonial 5 degree</option>
            <option value="poly6">Polymonial 6 degree</option>
            <option value="poly7">Polymonial 7 degree</option>
        </select>
    </div>

    <div class="ml-auto">
        <div>
            <div class="d-flex align-items-start">
                <label class="my-1 mx-2">From <a class="small" href="#" (click)="toggleLimits($event)">(add limit)</a></label>   
                <div class="form-group mat-sm d-flex">
                    <input type="text" class="form-control form-control-sm"  [formControl]="start_date" [matDatepicker]="start_date_dp" (dateInput)="onStartChange($event.value)">
                    <mat-datepicker-toggle matSuffix [for]="start_date_dp"></mat-datepicker-toggle>
                    <mat-datepicker #start_date_dp></mat-datepicker>     
                </div>
            </div>
        </div>
        <div [class.d-none]="!showEnd">
            <div class="d-flex align-items-start float-right">
                <label class="my-1 mx-2">To</label>   
                <div class="form-group mat-sm d-flex">
                    <input type="text" class="form-control form-control-sm"  [formControl]="end_date" [matDatepicker]="end_date_dp" (dateInput)="onEndChange($event.value)">
                    <mat-datepicker-toggle matSuffix [for]="end_date_dp"></mat-datepicker-toggle>
                    <mat-datepicker #end_date_dp></mat-datepicker>     
                </div>
            </div>
        </div>
    </div>
</div>

