<div class="container-fluid">
    <h1>COVID player data</h1>    
    
    <div class="row">
        <div class="col-md-3 col-lg-3 mb-4">
            <app-country-selection></app-country-selection>
            <app-patron class="d-none d-sm-block"></app-patron>
        </div>
        <div class="col-md-9 col-lg-9">
            <app-chart [chartId]="'chart1'"></app-chart>
            
            <app-chart [chartId]="'chart2'"></app-chart>
        </div>
    </div>
    <div class="d-block d-sm-none">
        <app-patron></app-patron>
        <hr />
    </div>
</div>