/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-infix {
    width: 100% !important;
}

@media(min-width:1300px) {
    .col-xlg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
}

.mat-sm .mat-icon-button{
    width: 26px;
    height: 26px;
    line-height: 26px;
}

label {
    font-weight: 300;
}